.gameOverWrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button {
        max-width: 200px;
        width: 100%;
        padding: 10px 16px;
        border-radius: 6px;
        font-size: 24px;
        align-self: center;

        border: none;
        cursor: pointer;
        background-color: #3261cd;

        &:hover {
            background-color: #4e7cf6;
        }
    }
}
